 h1 {
  color:red;
  border-style:dotted;
  
}
header p {
  color: rgb(91, 4, 253);
}
.article-body {
  color:darkblue;
  background-color: lightgray;
} 

#footer-p {
  color: darkgray;
  text-decoration: underline;
} 

/* footer>p {
  color: darkgray;
  text-decoration: underline;
}  */



